@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E1AA5D; /* Golden scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E1AA5D; /* Darker gold on hover */
}

  
  